html{
  font-size: 25px;
  }

body {
  font-size: 1rem;
  font-family: 'Barlow Semi Condensed', sans-serif;
  padding-left: 15px;
  opacity: 1;
}
/*Nav bar - all pages*/
.navbar {
  border-radius: 20px;
}
.navbar-nav {
  color: white;
}
a .nav-link {
  color: black;
}
/*Home page*/
.jumbotron {
  border-radius: 20px;
  background-image: url("./Background Images/flower 100pc.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  background-position: top center;
}
.intro-quote {
 font-family: 'Zilla Slab', serif;
 font-size: 2rem;
 color: white;
}
.ross {
  font-family: 'Monoton', cursive;
  color: navy;
  font-size: 4rem;
  align-self: center;
}
.job-title {
  font-size: 2rem;
}
.services {
  margin-left: 30px;
}

/*Webdev page*/
.jumbotron-webdev {
  border-radius: 20px;
  background-image: url("./Background Images/flower2 100pc.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-position: top right;
}
.webdev-quote {
 font-family: 'Zilla Slab', serif;
 font-size: 2rem;
 color: white;
}

/*aboutme page*/
.jumbotron-about {
  border-radius: 20px;
  background-image: url("./Background Images/graffiti 100pc.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-position: top right;
}
.about-quote {
 font-family: 'Zilla Slab', serif;
 font-size: 2rem;
 color: red;
}
/*About me specific CSS */
.portrait {
  width: 150px;
  height: auto;
  border: solid black 2px;
  border-radius: 10px;
}
/*social
 Media : Font Awesome Icons*/
.socialmedia a {
  margin-right: 10px;
}

/*Project Page specific CSS */
.projects {
  width: 300px;
  height: auto;
  border: 1px navy solid;
  opacity: 0.5;
}
.projects:hover {
  opacity: 1;
  border: 3px navy solid;
}
.jumbotron-projects {
  border-radius: 20px;
  background-image: url("./Background Images/woods2 100pc.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-position: top right;
}
.projects-quote {
 font-family: 'Zilla Slab', serif;
 font-size: 2rem;
 color: white;
}

/*.project-page h4 {
  font-size: 1rem;
}
.project-page h5 {
  font-size: .6rem;
}
.project-page p {
  font-size: .6rem;
}*/
/*inspiration page*/
.jumbotron-inspire {
  border-radius: 20px;
  background-image: url("./Background Images/graffiti 100pc.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-position: top right;
}
.inspire-quote {
 font-family: 'Zilla Slab', serif;
 font-size: 2rem;
 color: orange;
}



/* Mobile screens */
@media only screen and (max-width: 990px) {
  .body {
    font-size: 0.75rem;
  }
  .jumbotron {
    display: none;
  }
  .ross {
    font-size: 2.5rem;
  }
  .job-title {
    font-size: 1.5rem;
  }
  .projects {
    width: 225px;
    height: auto;
  }
  h1 {
    font-size: 1rem;
  }
  h4 {
    font-size: .7rem;
    font-weight: ;
  }
  p {
    font-size: .7rem;
  }
}

@media only screen and (max-width: 768px) {
  .projects {
    width: 350px;
    height: auto;
  }
}
